body:not(.navbar){
    background-image: url("images/bg.jpg");
    font-family: 'Alice', serif;
    font-size: 1.25vw;
    line-height: 0.7vw;
    margin: 0px;
}

.navbar {
    overflow: hidden;
    background-color: #332e34;
    position: fixed;
    top: 0;
    width: 100%;
    height: 52.8px;
  }
  
  .navbar a {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    float: left;
    display: block;
    color: #fbd630;
    text-align: center;
    padding: 13px 25px;
    font-size: 20px;
    text-decoration: none;
    margin-top: 0.78%;

}


.head{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 5vw;
    line-height: 5vw;
}

.flex-item>header{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size:2.1vw;
    padding-bottom: 10px;
}

video{
    display: block;
    align-self: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-right: 7%;
    justify-content: space-between;
}

.flex-item {
    padding: 0.1%;
    width: 30%;
    margin-bottom: 30px;
}
button{
    width: 25%;
    border: none;
    background-color: #e5e7d2;
    color: #e72f2e;
    font-family: 'Alice', serif;
    font-size: x-large;
    padding: 2px 2px;
    font-weight: bolder;
    text-align: center;
}

button:hover{
    background-color: #332e34;
    color: #f78129;
}




footer:not(h1){
    font-family: 'Alice', serif;
    font-size: 2vw;
    line-height: 2vw;
    background-color: #e5e7d2;
    color: #e72f2e;
    margin-top: 20%;
}

footer>h1, footer>div>div>h2{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 3.8vw;
}

footer>h1{
    background-color: #332e34;
    font-size: 3vw;
    color: #fbd630;
    letter-spacing: 3px;
    padding-top: 3vw;
    padding-bottom: 3.2vw;
}

.cont{
    padding-top:0px;
    margin-top:0px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.icon-cont{
    padding: 70px 0;
    display: block;
    width: 30%;
}

.icon-cont>div>div{
    display:flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 20px;
}

.icon-cont>div>div>a>img{
    width: 3vw;
}

.new-cont{
    padding: 70px 0;
    display: block;
    width: 40%;
}

.icon-cont>div>p{
    font-size: 3.2vw;
}

input, select {
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 12px;
    width: 100%;
    padding: 12px;
    border: 2px solid #f78129;
    border-radius: 4px;
    font-family: 'Alice', serif;
    font-size: 1.5vw;
    color: #f78129;
}

input[type=submit]{
    border: 0px;
    display:block;
    margin: 0 auto;
    width:40%
}

input[type=submit]:hover {
    background-color: #332e34;
}

@media only screen and (min-width: 1420px){
    .container{
        justify-content: space-between;
        margin-left: 3%;
        margin-right: 3%;
    }
    .flex-item {
        max-width: 22.5%;
        padding: 0.6%;
    }
}


@media only screen and (max-width: 1260px){
    body{
        font-size: 1.8vw;
        line-height: 1.2vw;
    }
    video{
        width: 50%;
    }
    .container{
        margin-left: 5%;
        margin-right: 5%;
    }
    .flex-item {
        max-width: 32.5%;
        padding: 0.2%;
    }
    .head{
        font-size: 8vw;
    }
    .flex-item>header{
        font-size: 2.8vw;
    }
}

@media only screen and (max-width: 1024px){
    body>h1{
        padding-top: 8%
    }
    .icon-cont>div>div>a>img{
        width: 6vw;
    }
    .navbar a {
        font-size: 33px;
    }
}

@media only screen and (max-device-width: 650px){
    .navbar{
        height: 147px;
    }
    .navbar a {
        padding: 56px 30px;
        font-size: 50px;
    }
    .head{
        margin-top:15%;
    }
    .icon-cont{
        width: 60%;
        padding: 0px;
    }  
    .icon-cont>div>div>a>img{
        width: 10vw;
    }
    footer>div>div>h2{
        font-size: 7.5vw;
        padding-top: 12%;
        padding-top: 7%;
    }
    footer:not(h1){
        display:block;
        margin: 0 auto;
        background-color: #e5e7d2;
        color: #e72f2e;
    }
    .icon-cont>div>p, .new-cont>form>div>label{
        display: block;
        text-align: center;
        font-size: 5vw;
        line-height: 4.5vw;
    }
    footer>h1{
        font-size: 7vw;
        padding-top: 5.9vw;
        padding-bottom: 6.7vw;
    }    
    .new-cont{
        width: 70%
    }
    input, select {
        height: 10vw;
        border-radius: 10px;
        border-radius: 4px;
        font-size: 4vw;
        border: 4px solid #f78129;
    }

}


@media only screen and (max-device-width: 540px){
    body{
        font-size: 3vw;
        line-height: 1.6vw;
    }
    .head{
        font-size: 14vw;
    }
    video{
        width: 60%;
    }
    .container {
        margin-left: 4%;
        margin-right: 4%;
    }
    .flex-item {
        max-width: 100%;
        width: 46%;
        padding: 0.5%;
    }
    .flex-item>header{
        font-size: 4.5vw;
    }
    .flex-item>p{
        font-size: 3vw;
        font-weight: bold;
    }
}
